___

<a href='https://www.instagram.com/lanlearning/'> <img src='../pyimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Welcome everyone!
# સ્વાગત છે!

<br>

This workbook is designed for you to learn the basics of Python. There will be a few workbooks like this one designed to help you learn Python in the following parts:

- Part 1: Basic Data Types (which we are on right now)
- Part 2: Advance Data Types
- Part 3: Functions
- Part 4: Python Processes
- Part 5: NumPy


This notebook will cover the basic data types that are a part of the Python language. 

<br>

આ વર્કબુક તમને પાયથોનની મૂળ બાબતો શીખવા માટે બનાવવામાં આવી છે. નીચે આપેલા ભાગોમાં પાયથોન શીખવામાં તમારી સહાય માટે રચાયેલ આ જેવા કેટલાક વર્કબુક હશે:

- ભાગ 1: મૂળ ડેટા પ્રકાર 
- ભાગ 2: એડવાન્સ ડેટા પ્રકાર
- ભાગ 3: કાર્યો
- ભાગ 4: પાયથોનની પ્રક્રિયાઓ
- ભાગ 5: NumPy


આ નોટબુક પાયથોન ભાષાનો ભાગ એવા મૂળભૂત ડેટા પ્રકારોને આવરી લેશે.

## Getting Started
## ચાલો શરૂ કરીએ

<br>

Whenever you're taught a programming language, you are always taught how to print ```'Hello World!'```. 

While this is definitely a great way to start and get students excited, I believe there is a lot that needs to be taught before being able to make the computer say ```'Hello World!'```. 

For this reason, we will start with data types. 

<br>

જ્યારે પણ તમને પ્રોગ્રામિંગ ભાષા શીખવવામાં આવે, ત્યારે તમને હંમેશા ```'Hello World!'``` કેવી રીતે છાપવા તે શીખવવામાં આવે છે.

પ્રારંભ કરવાનો આ એક સારો રસ્તો હોઈ શકે છે, પરંતુ મારું માનવું છે કે કમ્પ્યુટર ```'Hello World!'``` કહેવા માટે સક્ષમ થવા પહેલાં ઘણું બધું શીખવવાની જરૂર છે.

આ કારણોસર, અમે ડેટા પ્રકારોથી પ્રારંભ કરીશું.

In [1]:
print('Hello World!')

Hello World!

## How to add comments to code cells:
## કોડ સેલ પર ટિપ્પણીઓ કેવી રીતે ઉમેરવી:

<br>
<img src='../pyimages/comments.png' width="500"/></a>
<br>

Before going into Python lessons, here's a way you can comment on code. 

Commenting on code is important to leave important messages and tips for the person reading your code. 

To add a comment, write a hashtag ```#``` sign followed by whatever comment you want after it. Comments will always be in a greenish-blue color. 

<br>

પાયથોન પાઠમાં જતા પહેલાં, અહીં એક રીત છે કે તમે કોડ પર ટિપ્પણી કરી શકો છો.

તમારો કોડ વાંચતા વ્યક્તિ માટે મહત્વપૂર્ણ સંદેશાઓ અને ટીપ્સ આપવા માટે કોડ પર ટિપ્પણી કરવી મહત્વપૂર્ણ છે.

કોઈ ટિપ્પણી ઉમેરવા માટે, તમારે ગમે તે ટિપ્પણી પછી ઇચ્છો તે પછી, એક હેશટેગ ```#``` સાઇન લખો. ટિપ્પણીઓ હંમેશા લીલોતરી વાદળી રંગની રહેશે.

In [ ]:
# This is a comment

# આ એક ટિપ્પણી છે

In [1]:
# This is another comment 

# આ બીજી ટિપ્પણી છે

## Basic Data Types:
## ડેટા પ્રકાર:

<br>

To introduce data types, think of the different things you can write in English, or any other language you use in your daily life. 

ડેટા પ્રકારોનો પરિચય આપવા માટે, તમે અંગ્રેજીમાં લખી શકો છો તે જુદી જુદી વસ્તુઓ, અથવા તમે તમારા દૈનિક જીવનમાં ઉપયોગમાં આવતી કોઈપણ અન્ય ભાષા વિશે વિચારો.

<br>

In English you are able to write **words**, **letters**, **numbers**, **decimal numbers**, and more. Each of those are important, different pieces in the English language.

અંગ્રેજીમાં તમે **શબ્દો**, **અક્ષરો**, **નંબરો**, **દશાંશ સંખ્યા**, અને વધુ લખવા માટે સક્ષમ છો. તેમાંથી દરેક મહત્વપૂર્ણ છે, અંગ્રેજી ભાષાના જુદા જુદા ટુકડાઓ.

<br>

So similar to English, Python has its data types. Each data type serves a purpose and is important to whatever work you do with data types.

અંગ્રેજી જેવી જ, પાયથોનમાં તેના ડેટા પ્રકારો છે. દરેક ડેટા પ્રકાર હેતુ પ્રદાન કરે છે અને તમે ડેટા પ્રકારો સાથે જે પણ કાર્ય કરો છો તેના માટે મહત્વપૂર્ણ છે.

<br>

Here are the various data types in Python: 

અહીં અજગરના વિવિધ ડેટા પ્રકારો છે:


## Strings: 
## સ્ટ્રિંગ્સ:

<br>
<img src='../pyimages/str.jpg' width="500"/></a>
<br>

Strings are words in the Python language. Strings can be of any length, and can contain more than one word. 
- Strings can be identified by single quotation marks appearing at each end of the string.
- For example, ```'Hi, my name is Milan'``` is a string; in this case, it is a sentence with 5 words. Notice the ```'``` at each ends of the string
- Anything that is within two ```' '``` is a string. For example, ```'2'``` is a string where the word here is the number 2. 
<br>

સ્ટ્રિંગ્સ શબ્દ પાયથોન ભાષામાં છે. સ્ટ્રિંગ્સ કોઈપણ લંબાઈની હોઈ શકે છે, અને તેમાં એક કરતા વધુ શબ્દો હોઈ શકે છે. 
- સ્ટ્રિંગ્સને શબ્દમાળાના દરેક છેડે દેખાતા એક અવતરણ ગુણ દ્વારા ઓળખી શકાય છે.
- ઉદાહરણ તરીકે, ```'Hi, my name is Milan'``` એ એક શબ્દમાળા છે; આ કિસ્સામાં, તે 5 શબ્દો સાથેનું એક વાક્ય છે. શબ્દમાળાના દરેક છેડે ```'``` છે.

<br>

In a code cell below, we write a string:

નીચે આપેલા કોડ સેલમાં, અમે સ્ટ્રિંગ્ગ્ લખીએ છીએ:

In [5]:
'Hi, my name is Milan'

'Hi, my name is Milan'

In [ ]:
'This is a string.'

In [ ]:
'This is string number 2, which has a number in it.'

Strings can also be written using double quotes:

ડબલ અવતરણોનો ઉપયોગ કરીને સ્ટ્રિંગ્સ પણ લખી શકાય છે:

In [2]:
"This is a string."

'This is a string.'

Strings are not limited by language! Here is a string in Gujarati!

સ્ટ્રિંગ્સ ભાષા દ્વારા મર્યાદિત નથી! અહીં ગુજરાતીમાં એક સ્ટ્રિંગ્ગ્ છે!

In [1]:
'હેલો વર્લ્ડ'

'હેલો વર્લ્ડ'

Double quotes can be useful if you want to make use of the single quote within your string. 

જો તમે તમારા સ્ટ્રિંગ્ગ્ અંતર્ગત સિંગલ ક્વોટનો ઉપયોગ કરવા માંગતા હો, તો ડબલ અવતરણો ઉપયોગી થઈ શકે છે.

In [ ]:
# Running this cell will cause an error, so don't run it, just take a look at it

# આ સેલ ચલાવવાથી એક ભૂલ પેદા થશે, તેથી તેને ચલાવો નહીં, ફક્ત તેના પર એક નજર નાખો

"I'm learning Python today!"


# If you used single quotes at the ends, this would cut the string like so:

# જો તમે અંતમાં એક અવતરણો વાપરો, તો આ સ્ટ્રિંગ્ગ્ કાપી નાખશે:

'I'm learning Python today!'


# This is what causes the error when you run the cell. 

# જ્યારે તમે સેલ ચલાવો ત્યારે આ ભૂલનું કારણ બને છે.


# The code that is not in red is not part of the string and the computer doesn't know what to do with it.

# કોડ કે જે લાલ નથી તે સ્ટ્રિંગનો ભાગ નથી અને કમ્પ્યુટર તેની સાથે શું કરવું તે જાણતું નથી.


# How can we fix it?

#આપણે તેને કેવી રીતે ઠીક કરી શકીએ?

In [1]:
# If you still want to use single quote, just put a ' \ ' before the intended apostrophe:

# જો તમે હજી પણ સિંગલ ક્વોટનો ઉપયોગ કરવા માંગતા હો apostrophe (') પહેલાં ' \ ' મૂકો:

'I\'m learning Python today!'


# ' \ ' also works if you want double quotes in your string.

# જો તમને તમારા સિટૃગ્ગ્ ડબલ અવતરણ જોઈએ તો ' \ ' પણ કાર્ય કરે છે.

"I'm learning Python today!"

In [9]:
# I want to write a string that reads "Tony's cat jumped!"

# હું એક સિટૃગ્ગ્ લખવા માંગુ છું જે "Tony's cat jumped!" વાંચે છે.

"Tony's cat jumped"

"Tony's cat jumped"

## Integers: 
## પૂર્ણાંકો:

<br>

Integers are numbers in the Python language. 
- Integers are usually in green color and can be simply written in. 
- Good for when you don't need to worry about fractions. For example 1st, 2nd, or 3rd place.
<br>

પૂર્ણાંકો એ પાયથોન ભાષામાં સંખ્યાઓ છે.
- પૂર્ણાંકો સામાન્ય રીતે લીલા રંગમાં હોય છે અને તે ફક્ત લખી શકાય છે.
- જ્યારે તમને અપૂર્ણાંકો વિશે ચિંતા કરવાની જરૂર ન હોય ત્યારે માટે સારું. ઉદાહરણ તરીકે 1 લી, 2 જી અથવા 3 જી સ્થાન.

<br>

In a code cell below, we write the integer ```2```:

નીચે આપેલા કોડ સેલમાં, આપણે પૂર્ણાંક ```2``` લખીએ છીએ:

In [ ]:
2

## Float: 
## ફ્લોટ:


<br>
<img src='../pyimages/float.jpeg' width="500"/></a>
<center>Photo by: Dave Jacobs</center>
<center>source: https://www.miaminewtimes.com/news/alligator-spotted-on-alligator-pool-float-at-miami-airbnb-11177604</center>
<br>

A float is a decimal number in in the Python language. 
- Floats are usually in green color and can be simply written in. 
- Good for when you need fractions and decimal numbers. For exampe time or dollars.
- They use more computer memory so it doesn't make sense to use a float for everything.

પાયથોન ભાષામાં ફ્લોટ એ દશાંશ સંખ્યા છે.
- ફ્લોટ્સ સામાન્ય રીતે લીલા રંગમાં હોય છે અને તેમાં સરળતાથી લખી શકાય છે.
- જ્યારે તમને અપૂર્ણાંક અને દશાંશ સંખ્યાની જરૂર હોય ત્યારે માટે સારું. 
- તેઓ વધુ કમ્પ્યુટર મેમરીનો ઉપયોગ કરે છે તેથી દરેક વસ્તુ માટે ફ્લોટનો ઉપયોગ કરવાનો અર્થ નથી.

<br>

In a code cell below, we write the float ```0.2```:

નીચે આપેલા કોડ સેલમાં, અમે ફ્લોટ ```0.2``` લખીએ છીએ:

In [ ]:
0.2

Any number with a decimal is a float: 

દશાંશ સાથેની કોઈપણ સંખ્યા ફ્લોટ છે:

In [ ]:
2.

In [ ]:
.2

In [ ]:
.0

In [ ]:
0.

# Boolean: 
# બુલિયન:

<br>

The last basic data type in Python is a boolean. A boolean is a data type the represents ```True``` and ```False```.
- Booleans could be written in, but are typically created by the computer. 
- Good for represnting things that can only be one or the other for example yes or no.
```False``` can be represented as $0$, while ```True``` can be represented as any number besides $0$. 
<br>

પાયથોનમાં છેલ્લો મૂળભૂત ડેટા પ્રકાર બુલિયન છે. બુલિયન એ એક ડેટા પ્રકાર છે જે ```True``` અને ```False``` રજૂ કરે છે.
- બુલિયન લખી શકાય છે, પરંતુ સામાન્ય રીતે કમ્પ્યુટર દ્વારા બનાવવામાં આવે છે.
- તે વસ્તુઓની પુનરાવર્તન માટે સારું જે ફક્ત એક અથવા બીજી હોઈ શકે, ઉદાહરણ તરીકે હા અથવા ના.
```False``` ને $0$ તરીકે રજૂ કરી શકાય છે, જ્યારે ```True``` ને $0$ સિવાય કોઈપણ સંખ્યા તરીકે રજૂ કરી શકાય છે.

In [ ]:
True

In [ ]:
False

## Variable Assignment
## વેરિયેબલ અસાઇન્મેન્ટ

<br>

These data types matter because of variable assignment. Variables store things for later use. Variable asignment is the process of creating variables and telling them what to store.


આ ડેટા પ્રકારો વેરિયેબલ અસાઇન્મેન્ટ કારણે મહત્વ ધરાવે છે. વેરિયેબલ પછીના ઉપયોગ માટે વસ્તુઓ સ્ટોર કરે છે. વેરીએબલ એસાઈનમેન્ટ એ વેરિયેબલ્સ બનાવવાની અને તેમને સ્ટોર કરવાની રીત કહેવાની પ્રક્રિયા છે.

<br>

Variable assignment is really important in Python because all the work you will be doing in Python will be through variables. For example, you will be using variables to do Math in Python in some of the upcoming notebooks. 


પાયથોનમાં વેરીએબલ એસાઈનમેન્ટ ખરેખર મહત્વનું છે કારણ કે તમે પાયથોનમાં જે કાર્ય કરશે તે વેરિયેબલ દ્વારા કરવામાં આવશે. ઉદાહરણ તરીકે, તમે આવતી કેટલીક નોટબુકમાં પાયથોનમાં ગણિત કરવા માટે વેરિયેબલ ઉપયોગ કરી રહ્યાં છો.

<br>

There are three parts for variable assignment: 
- Part 1: You start with writing the variable name all the way to the left of the code line.
- Part 2: After writing the variable name, type in the ```=``` sign. 
- Part 3: to the right of ```=``` write the data type you want to assign the variable to. 


વેરિયેબલ અસાઇન્મેન્ટ માટે ત્રણ ભાગો છે:
- ભાગ 1: તમે કોડ લાઇનની ડાબી બાજુએ વેરિયેબલ નામ લખવાની શરૂઆત કરો.
- ભાગ 2: વેરિયેબલ નામ લખ્યા પછી, ```=``` ચિહ્ન લખો.
- ભાગ 3: the ```=``` ની જમણી બાજુએ ડેટા પ્રકાર લખો જે તમે વેરિયેબલ સોંપવા માંગો છો.

<br>

Let's assign 2 to a variable called ```x```:

ચાલો 2 ```x``` નામના વેરિયેબલ સોંપીએ:

In [12]:
# note that this is line 1, as shown by the number to the left

# આ કોડ લાઇન 2 છે


# first step for variable assignment is writing the name of variable
# then write an equal sign (=) next to it
# next assign the variable your data type

# વેરીએબલ એસાઈનમેન્ટ માટેનું પ્રથમ પગલું વેરિયેબલ નામ લખવું છે
# પછી તેની બાજુમાં સમાન ચિહ્ન (=) લખો
# આગળ તમારા ડેટા પ્રકારને વેરીએબલ સોંપો

x = 2

Nothing was returned after writing in ```x = 2```, and that's how it is with variable assignment. <br>
To see the value under the variable, simply **call** the variable by writing it in a code cell. 

```x = 2``` માં લખ્યા પછી કંઈપણ પાછું આવ્યું ન હતું, અને તે વેરિયેબલ અસાઇન્મેન્ટ સાથે આ રીતે છે. <br>
વેરીએબલ હેઠળની કિંમત જોવા માટે, કોડ સેલમાં લખીને વેરીએબલ **call** કરો.

In [13]:
x

2

Now you should be able to see the value of your variable. 

હવે તમારે તમારા વેરીએબલની કિંમત જોવા માટે સમર્થ થવું જોઈએ.

In [10]:
variable_name = 'variable name'

In [11]:
variable_name

'variable name'

### Choosing a variable name: 
### વેરીએબલ નામ પસંદ કરી રહ્યા છીએ:

<br>

There are some important rules for choosing variable names:

વેરીએબલ નામો પસંદ કરવા માટે કેટલાક મહત્વપૂર્ણ નિયમો છે:

<br>
<img src='../pyimages/elon.jpeg' width="500"/></a>
<center>source: Elon Musk, Twitter</center>
<br>

- Variables cannot start with a number or be a number. 
- Variable must begin with either a ```_``` or a letter.


- વેરીએબલ કોઈ સંખ્યાથી પ્રારંભ કરી શકતા નથી અથવા સંખ્યામાં હોઈ શકતા નથી.
- વેરિયેબલની શરૂઆત ```_``` અથવા અક્ષરથી થવી આવશ્યક છે.

<br>

**In the code cell below, try to see if you can assign a variable to a name that doesn't follow the rules above.**

**નીચેના કોડ સેલમાં, જો તમે ઉપરના નિયમોનું પાલન ન કરતા હોય તેવા નામને વેરીએબલ સોંપી શકો કે નહીં તે જોવાનો પ્રયાસ કરો.**

In [15]:
_elons2 = '2 elons'

In [16]:
_elons2

'2 elons'

In [17]:
my_name = 'cynthia'

In [18]:
my_name

'cynthia'

You can assign a variable to a string, boolean, float, or integer. 

તમે સિટૃગ્ગ્, બુલિયન, ફ્લોટ અથવા પૂર્ણાંકો માટે વેરીએબલ સોંપી શકો છો.

In [19]:
a = 'string'
a

'string'

In [20]:
b = 0.23
b

0.23

In [21]:
c = False
c

False

In [22]:
d = 23
d

23

You can also make multiple assignments on the same line.

તમે એક જ લાઇન પર બહુવિધ વેરિયેબલ અસાઇન્મેન્ટ પણ કરી શકો છો.

In [23]:
name, age = "Chad", 20

In [24]:
name

'Chad'

In [25]:
age

20

## Checking and Changing Data Types:
## ડેટાના પ્રકારોને તપાસી અને બદલવાનું:

<br>

To change and check data types, we need to use built-in functions provided by Python. 

ડેટા પ્રકારોને બદલવા અને તપાસવા માટે, આપણે પાયથોન દ્વારા પ્રદાન કરેલ બિલ્ટ-ઇન ફંક્શન્સનો ઉપયોગ કરવાની જરૂર છે.

<br>

Built-in functions are a topic of another notebook, but in short they are exactly what they sound like: a **built-in function** is a function that is defined within Python. 

બિલ્ટ-ઇન ફંક્શંસ એ બીજી નોટબુકનો વિષય છે, પરંતુ ટૂંકમાં તે તેઓ જેવું લાગે છે તે જ છે: **બિલ્ટ-ઇન ફંક્શન** એ એક ફંક્શન છે જે પાયથોનમાં વ્યાખ્યાયિત થયેલ છે.

<br>

To check the type of a variable, pass the variable in the function ```type()```. 

વેરીએબલ પ્રકાર તપાસવા માટે, ફંક્શન ```type()``` માં વેરીએબલને પાસ કરો.

<br>

To pass a variable function, simply write the variable name inside the ```()```. 

વેરિયેબલ ફંક્શન પસાર કરવા માટે, ```()``` ની અંદર ફક્ત વેરીએબલ નામ લખો.

In [26]:
type(a) # I'm passing in 'a' into the function type()

str

Notice that we defined ```a``` a few cells above.

જુઓ કે આપણે કેવી રીતે ઉપર ```a``` થોડા સેલ વ્યાખ્યાયિત કર્યા છે.

<br>

We made ```a``` be the string ```'string'```, so when we called ```type()``` on it, it returns ```str```. 

અમે ```a``` ને સિટૃગ્ગ્ ```'string'``` બનાવ્યું, તેથી જ્યારે અમે તેના પર ```type()``` કહીએ, ત્યારે તે ```str``` આપે છે.

<br>

If your variable is a string, ```str``` will be returned. 

જો તમારું વેરીએબલ સિટૃગ્ગ્ છે, તો ```str``` પરત આવશે.

<br>

If your variable is an integer, ```int``` will be returned.

જો તમારું વેરીએબલ પૂર્ણાંક છે, તો ```int``` પરત આવશે.

<br>

If your variable is a float, ```float``` will be returned. 

જો તમારું વેરીએબલ ફ્લોટ છે, તો ```float``` પરત આવશે.

<br>

If your variable is a boolean, ```bool``` will be returned. 

જો તમારું વેરીએબલ બુલિયન છે, તો ```bool``` પરત આવશે.

In [27]:
# 'a' is a string
type(a)

str

In [28]:
# 'b' is a float
type(b)

float

In [29]:
# 'c' is a boolean
type(c)

bool

In [30]:
# 'd' is an integer
type(d)

int

### Changing a data type:
### ડેટા પ્રકાર બદલવાનું:

<br>

To change a data type, you will need to use the built-in functions:

ડેટા પ્રકાર બદલવા માટે, તમારે બિલ્ટ-ઇન ફંક્શન્સનો ઉપયોગ કરવો પડશે:

<br>

Use ```str()``` to change something to a string.

 સ્ટ્રિંગ્સમાં કંઈક બદલવા માટે ```str()``` નો ઉપયોગ કરો.

<br>

Use ```int()``` to change something to an integer. 

પૂર્ણાંકમાં કંઈક બદલવા માટે ```int()``` નો ઉપયોગ કરો.

<br>

Use ```float()``` to change something to a float. 

ફ્લોટમાં કંઈક બદલવા માટે ```float()``` નો ઉપયોગ કરો.

<br>

Use ```bool()``` to change something to a boolean.

બુલિયનમાં કંઈક બદલવા માટે ```bool()``` નો ઉપયોગ કરો.

In [31]:
str(2)

'2'

In [32]:
int('2')

2

In [33]:
float(2)

2.0

In [35]:
int(2.9)

2

In [38]:
bool(-234)

True

In [39]:
int(True)

1

In [40]:
int(False)

0

In [ ]:
# False is represented by 0

In [41]:
float(0)

0.0

In [42]:
float(False) # = float(0)

0.0

In [43]:
str(True) # = str(1)

'True'

In [44]:
# Below i'm am passing an empty string in bool, which returns false.

# નીચે હું બુલમાં ખાલી સિટૃગ્ગ્ પસાર કરું છું, જે ખોટો વળતર આપે છે

bool('')


# Try putting something inside the string and see what happens.

# સ્ટ્રિંગ્ગ્ અંદર કંઈક મૂકવાનો પ્રયત્ન કરો અને જુઓ શું થાય છે.

False

In [46]:
bool('name')

True

In [49]:
bool(int(11.67)) # = bool(12)

# Try changing it to 0 and running this cell again to see what happens!

# શું થાય છે તે જોવા માટે તેને 0 માં બદલીને આ સેલ ફરીથી ચલાવવાનો પ્રયાસ કરો!

True

### Quick note about changing data types:
### ડેટા પ્રકારોને બદલવા વિશે ઝડપી નોંધ:

<br>

#### When changing to strings: 
#### જ્યારે સ્ટ્રિંગ્સ બદલવા:

<br>

Pretty much anything can be changed to a string, so there's nothing to worry about here. 

મોટે ભાગે કંઈપણ એક સ્ટ્રિંગ્સ માં બદલી શકાય છે, તેથી અહીં ચિંતા કરવાનું કંઈ નથી.

<br>

#### When changing to an integer: 
#### પૂર્ણાંકમાં બદલાતી વખતે:

<br>

- A float will be rounded **down** to the nearest integer when passed to the ```int()``` function. 
- ```True``` will change to $1$ when passed through ```int()```, and ```False``` to $0$.
- You can **only** pass in digits, floats, ```True```, and ```False``` through the ```int()``` function. Anything else will error! 
<br>
<br>
- જ્યારે ```int()``` ફંક્શનમાં પસાર થાય ત્યારે નજીકના પૂર્ણાંક પર **નીચે** ફ્લોટ ગોળાકાર કરવામાં આવશે.
- ```int()``` જ્યારે પસાર થશે ત્યારે ```True```, $1$ માં બદલાઈ જશે, અને ```False``` થી $0$.
- તમે **ફક્ત** ```int()``` ફંક્શન દ્વારા અંકો, ફ્લોટ્સ, ```True``` અને ```False``` માં પાસ કરી શકો છો. બીજું કંઈપણ ભૂલ કરશે!

#### When changing to a float:
#### જ્યારે ફ્લોટમાં બદલવું:

<br>

- You can only pass in numbers or booleans through a float. 
- When converted to a float...
    - integer 5 will become ```5.0``` 
    - ```True``` will become ```1.0```
    - ```False``` will become ```0.0```
<br>
<br>
- તમે ફ્લોટ દ્વારા ફક્ત સંખ્યા અથવા બુલિયનમાં જ પસાર કરી શકો છો.
    - પૂર્ણાંક 5 ```5.0``` બનશે
    - ```True``` ```1.0``` બનશે
    - ```False``` ```0.0``` બનશે

#### When changing to a boolean: 
#### જ્યારે બુલિયનમાં બદલવું:

<br>

- You can pass in a string, float, or integer through the boolean function. 
- An empty string such as ```''```, the integer ```0```, or the float ```0.0``` are some examples that will return ```False```. Everything else returns ```True```.

- તમે બુલિયન ફંક્શન દ્વારા સિટૃગ્સ, ફ્લોટ અથવા પૂર્ણાંકોમાં પસાર કરી શકો છો.
- ખાલી સિટૃગ્સ જેમ કે ```''```, પૂર્ણાંક ```0``` અથવા ફ્લોટ ```0.0``` કેટલાક ઉદાહરણો છે જે પાછા આવશે ```False```. બાકીનું બધું ```True``` પરત આપે છે.

# End
# સમાપ્ત

<br>

That's it for now with this basic data type notebook. 

હમણાં માટે અમે આ ડેટા ટાઇપ નોટબુક સાથે પૂર્ણ કર્યું છે.

<br>

Feel free to mess around with and solidify your understandings with code cells! 

પ્રેક્ટિસ કરો અને કોડ સેલ્સથી તમારી સમજણને મજબૂત બનાવો!

<br>

See you for the next notebook!

હવે પછીની નોટબુક માટે મળીશું!

### About this notebook: 
#### Developed by:
* [Milan Butani](https://www.linkedin.com/in/milanbutani/) 
* [Liam McDonough](https://www.linkedin.com/in/liammmcdonough/)
* [Colin Yee](https://www.linkedin.com/in/colin-yee-b724141ab/)
* [Fancis Gonzales](https://www.linkedin.com/in/francis--gonzales/)

#### Edits and Translations by:
* [Neera Butani](https://www.linkedin.com/in/neera-butani-9019891b1/)

#### Connect with us:
<a href='https://www.linkedin.com/company/lanlearning/'> <img src=https://img.icons8.com/color/48/000000/linkedin.png width="48" height="48" align="left"/></a>

<a href='http://www.instagram.com/lanlearning'> <img src=https://img.icons8.com/fluent/48/000000/instagram-new.png width="48" height="48" align="left"/></a>

<a href='https://www.youtube.com/channel/UC5_yxU9pz4ka7xITJMxO5WA'> <img src=https://img.icons8.com/color/48/000000/youtube-squared.png width="48" height="48" align="left"/></a>

<a href='https://www.github.com/lanlearning/'> <img src=https://img.icons8.com/material-rounded/48/000000/github.png/ width="48" height="48" align="left"/></a>