___

<a href='https://www.instagram.com/lanlearning/'> <img src='../pyimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Welcome back! Let's Start Part 2!
# સ્વાગત છે! ચાલો ભાગ 2 શરૂ કરીએ!

<br>

This workbook is designed for you to learn the basics of Python. There will be a few workbooks like this one designed to help you learn Python in the following parts. 

આ વર્કબુક તમને પાયથોનની મૂળ બાબતો શીખવા માટે બનાવવામાં આવી છે. નીચે આપેલા ભાગોમાં પાયથોન શીખવામાં તમારી સહાય માટે રચાયેલ આ જેવા કેટલાક વર્કબુક હશે.

<br>

Please follow the notebooks in the order below because the topics build off of content that was covered in previous notebooks:
- Part 1: Basic Data Types
- Part 2: Advance Data Types (one we are on right now)
- Part 3: Functions
- Part 4: Python Processes
- Part 5: NumPy

કૃપા કરીને નીચેના ક્રમમાં નોટબુકનું પાલન કરો કારણ કે અગાઉના નોટબુકમાં આવરી લેવામાં આવતી વિષયવસ્તુ સમાવિષ્ટ છે:
- ભાગ 1: મૂળ ડેટાના પ્રકારો
- ભાગ 2: એડવાન્સ ડેટા પ્રકાર
- ભાગ 3: કાર્યો
- ભાગ 4: પાયથોન પ્રક્રિયાઓ
- ભાગ 5: NumPy

## Advanced Data Types:
## એડવાનસ ડેટા પ્રકારો:

<br>

In the previous notebook, we covered some of the basic data types in Python. Those included strings, integers, floats, and booleans. 

પહેલાની નોટબુકમાં, અમે પાયથોનમાં કેટલાક મૂળભૂત ડેટા પ્રકારોને આવરી લીધા છે. તેમાં સિટૃગ્સ, પૂર્ણાંકો, ફ્લોટ્સ અને બુલિયન શામેલ છે.

<br>

Advanced data types will be those that make use of the basic data types. These include: 
1. Lists or arrays 
2. Dictionaries 
3. Sets
4. Functions

એડવાનસ ડેટા પ્રકારો તે હશે જે મૂળભૂત ડેટા પ્રકારોનો ઉપયોગ કરે છે. આમાં શામેલ છે:
1. સૂચિઓ અથવા એરે
2. ડીકસનરી 
3. સેટ
4. કાર્યો

<br>

This notebook will cover everything mentioned above except for functions, as they will be covered in the next notebook.

આ નોટબુક કાર્યો સિવાય ઉપર જણાવેલ દરેક બાબતોને આવરી લેશે, કારણ કે તે આગામી નોટબુકમાં આવરી લેવામાં આવશે.

<br>

So let's get into it!

તો ચાલો તેમાં પ્રવેશ કરીએ!

### List or Array: 
### લીસટ અથવા એરે:

<br>
<img src='../pyimages/list.jpg' width="300"/></a>
<br>

A list in Python is a collection of items. These items could be a group of variables or a group of data types.

પાયથોનમાં લીસટ એ વસ્તુઓનો સંગ્રહ છે. આ વસ્તુઓ વેરીએબલ અથવા ડેટા પ્રકારોનું જૂથ હોઈ શકે છે.

<br>

#### To create a list, use the ```[  ]``` square brackets
#### લીસટ બનાવવા માટે, ```[  ]```  ઉપયોગ કરો

<br>

Inside of the brackets ```[ ]```, write down your items and separate them with commas to avoid a syntax error!

```[ ]``` ની અંદર, વાક્યરચનાની ભૂલને ટાળવા માટે તમારી આઇટમ્સ લખો અને તેમને અલ્પવિરામથી અલગ કરો!

<br>

Let's do an example. Say you want to make a list that contains all numbers from one to five: 

ચાલો એક ઉદાહરણ કરીએ. કહો કે તમે એક લીસટ બનાવવા માંગો છો જેમાં એકથી પાંચ સુધીની સંખ્યાઓ શામેલ છે:

In [ ]:
[1, 2, 3, 4, 5]

The code above is how you would make a list of the first five numbers.

ઉપરનો કોડ એ છે કે તમે પ્રથમ પાંચ નંબરની લીસટ કેવી રીતે બનાવશો.

<br>

This piece of data can be stored under a variable name. 

ડેટાના આ ભાગને વેરીએબલ નામ હેઠળ સંગ્રહિત કરી શકાય છે.

<br>

If you want to name your list ```the_first_five_ints```, set it equal to your list:

જો તમે તમારી લીસટનું નામ ```the_first_five_ints``` રાખવા માંગો છો, તો તેને તમારી લીસટની બરાબર સેટ કરો:

In [ ]:
the_first_five_ints = [1, 2, 3, 4, 5]

In [ ]:
the_first_five_ints

A list can have **multiple different data types within it**: 

લીસટમાં **તેમાં વિવિધ પ્રકારનાં ડેટા પ્રકારો** હોઈ શકે છે:

In [ ]:
diverse_list = ['hi', 2, True, 30.4]
diverse_list

To check the length of the list, use the built-in ```len()``` function:

લીસટની લંબાઈને તપાસવા માટે, બિલ્ટ-ઇન ```len()``` ફંક્શનનો ઉપયોગ કરો:

In [ ]:
len(diverse_list)

In [ ]:
len(the_first_five_ints)

**You can put a list inside of a list, too**:

**તમે લીસટની અંદર લીસટ પણ મૂકી શકો છો**:

In [ ]:
inside_list = [diverse_list, the_first_five_ints]
inside_list

**Adding Values to a List**

**લીસટમાં મૂલ્યો ઉમેરવાનું**

If you want to add new values to your list, there are a couple ways to do it. For example, let's say that you created a list of all your friends' names, but since you made some new friends through this Data Science camp, you want to add them to your list:

જો તમે તમારી લીસટમાં નવા મૂલ્યો ઉમેરવા માંગતા હો, તો તેને કરવા માટે કેટલીક રીતો છે. ઉદાહરણ તરીકે, જણાવી દઈએ કે તમે તમારા બધા મિત્રોના નામની લીસટ બનાવી છે, પરંતુ તમે આ ડેટા સાયન્સ કેમ્પ દ્વારા કેટલાક નવા મિત્રો બનાવ્યા હોવાથી, તમે તેમને તમારી લીસટમાં ઉમેરવા માંગો છો:

In [ ]:
friend_list = ["Michelle", "Kaleen", "Lance", "James"]  # original friend list

The **.append(value_name)** method can be used to add their names!

**.append(value_name)** પદ્ધતિનો ઉપયોગ તેમના નામો ઉમેરવા માટે કરી શકાય છે!

In [ ]:
friend_list.append("Ethan")

Or you could add names by creating a list of your new friends' names and then adding it to your original friend_list by using the + sign.

અથવા તમે તમારા નવા મિત્રોના નામની લીસટ બનાવીને નામો ઉમેરી શકો છો અને પછી + નો ઉપયોગ કરીને તેને તમારા મૂળ મિત્રની લીસટમાં ઉમેરી શકો છો.

In [ ]:
friend_list = friend_list + ["Katherine", "Adeline"]     # shortcut is just writing friend_list += ["Katherine", "Adeline"]

Ta da! Your friend_list is now updated!

તમારી મિત્રની લીસટ હવે અપડેટ થઈ છે!

In [ ]:
friend_list

**Deleting Values from a List**

**લીસટમાંથી મૂલ્યોને કાઢવાા**

It's important to know that you can also delete values from a list by using the **.remove(value_name)** method.

તે જાણવું અગત્યનું છે કે તમે **.remove (value_name)** પદ્ધતિનો ઉપયોગ કરીને લીસટમાંથી મૂલ્યોને પણ કાઢી શકો છો.

In [ ]:
friend_list.remove("Michelle")
friend_list

In [ ]:
fruits = []
vegetables = []

In [ ]:
fruits.append('apple')
fruits

In [ ]:
fruits = fruits + ['pear']
vegetables.append("lettuce")
vegetables = vegetables + ["carrot"]

In [ ]:
len(fruits)

In [ ]:
fruits.remove('pear')

In [ ]:
fruits

In [ ]:
vegetables

In [ ]:
grocery_list = fruits + vegetables

In [ ]:
grocery_list

In [ ]:
grocery_list.remove('strawberry')

In [ ]:
x = 2

In [ ]:
# This is more code for adding a value

# આ મૂલ્ય ઉમેરવા માટે આ વધુ કોડ છે

x = x + 2 # "x equals x + 2"
x

In [ ]:
x = 2

In [ ]:
# this is a shortcut 

# આ એક શોર્ટકટ છે

x += 2 # "x equals x + 2"

In [ ]:
x

In [ ]:
fruits = fruits + ['strawberry'] #no shortcut for adding strawberry 
fruits

In [ ]:
fruits += ['grape'] #shortcut method for adding grape 
fruits

## Indexing:
## અનુક્રમણિકા:

Before going into the other advanced data types, let's take a second to understand what **indexing** is. 

અન્ય અદ્યતન ડેટા પ્રકારોમાં જવા પહેલાં, ચાલો **અનુક્રમણિકા** શું છે તે સમજવા માટે થોડીવાર લઈએ.

<br>
<img src='../pyimages/index.jpg' width="300"/></a>
<br>

**Indexing** allows you to extract individual elements that are inside your advanced data type. 
- For example, indexing can help you find the first, second, or any element in the list or array. 

<br>

**અનુક્રમણિકા** તમને તમારા વિગતવાર ડેટા પ્રકારમાં રહેલા વ્યક્તિગત તત્વોને બહાર કા toવાની મંજૂરી આપે છે.
- ઉદાહરણ તરીકે, અનુક્રમણિકા તમને લીસટ અથવા એરેમાં પ્રથમ, બીજું અથવા કોઈપણ તત્વ શોધવામાં સહાય કરી શકે છે.

<br>

To index into your array, you need to use **bracket notation** ```[  ]```.

તમારા એરેમાં અનુક્રમણિકા કરવા માટે, તમારે **કૌંસ સંકેત** ```[  ]``` વાપરવાની જરૂર છે.

<br>

#### Bracket Notation: 
#### કૌંસ સંકેત:

<br>

To extract an element from a list, simply type ```[]``` after typing in the variable name that the list is stored under. Inside the ```[]```, put a number to specify the location of the item that you want to select. Indexing always starts at 0!
- If you want the first item from your list, use the number 0 in your brackets. 
- If you want the second item from your list, use the number 1 in your brackets. 

લીસટમાંથી તત્વ મેળવવાકાઢવાા માટે, લીસટ હેઠળ સંગ્રહિત .વેરીએબલ નામ લખીને પછી ફક્ત ```[]```. લખો. ```[]``` ની અંદર, તમે પસંદ કરવા માંગો છો તે આઇટમનું સ્થાન સ્પષ્ટ કરવા માટે એક નંબર મૂકો. અનુક્રમણિકા હંમેશા 0 થી શરૂ થાય છે!
- જો તમને તમારી લીસટમાંથી પ્રથમ વસ્તુ જોઈએ છે, તો તમારા ```[]``` માં સંખ્યા 0 નો ઉપયોગ કરો
- જો તમને તમારી લીસટમાંથી બીજી વસ્તુ જોઈએ છે, તો તમારા ```[]``` માં નંબર 1 નો ઉપયોગ કરો.

<br>

To summarize, the index of an item will be the place of the item in the list **minus 1**.

સારાંશ માટે, આઇટમનું અનુક્રમણિકા લીસટમાં **બાદબાકી 1** ની આઇટમનું સ્થાન હશે.

<br>

Now let's apply some indexing skills in an example!

હવે ચાલો એક ઉદાહરણમાં કેટલીક અનુક્રમણિકા કુશળતા લાગુ કરીએ!

<br>

Let's say I want to select the third item in my ```the_first_five_ints``` array. To do so, I will write: ```the_first_five_ints[2]``` because 3 (from the "third item" specification) minus 1 is 2.

ચાલો કહીએ કે હું મારા ```the_first_five_ints``` એરેમાં ત્રીજી આઇટમ પસંદ કરવા માંગું છું. આમ કરવા માટે, હું લખીશ: ```the_first_five_ints[2]``` કારણ કે 3 ("ત્રીજી વસ્તુ" સ્પષ્ટીકરણમાંથી) બાદબાકી 1 એ 2 છે.

In [ ]:
fruits

In [ ]:
fruits[1]

In [ ]:
# That's how indexing works: for any item, to get it out, use "location minus 1"

#આ રીતે અનુક્રમણિકા કેવી રીતે કાર્ય કરે છે: કોઈપણ વસ્તુ માટે તેને બહાર મેળવવા માટે, "સ્થાન માઇનસ 1" નો ઉપયોગ કરો.


# To get item 2 from your list, use index 1

# તમારી લીસટમાંથી આઇટમ 2 મેળવવા માટે, અનુક્રમણિકા 1 નો ઉપયોગ કરો

In [ ]:
# To get grape out of fruits:

# 'fruits' માંથી 'grape' મેળવવા:

fruits[3]

In [ ]:
the_first_five_ints[2]

In [ ]:
inside_list[0]

In [ ]:
inside_list[0][2]

### Indexing in Strings: 
### સ્ટ્રિંગ્સમાં અનુક્રમણિકા:

<br>

You can also index into strings! 

તમે પણ સિટૃગ્સ માં અનુક્રમણિકા કરી શકો છો!

<br>

If you want the first letter in the string, write ```[0]``` next to the string or its variable. 

જો તમને સિટૃગ્સમાં પહેલો અક્ષર જોઈએ છે, તો સિટૃગ્સ અથવા તેના વેરીએબલની બાજુમાં ```[0]``` લખો.

<br>

For example: 

દાખ્લા તરીકે:

In [ ]:
'Milan'[0]

In [ ]:
my_string = 'Milan'
my_string[0]

In [ ]:
my_string[2]

In [ ]:
# This gets our letter 'K'

# આપણો અક્ષર 'K' મળે છે

'Kobe'[0]

In [ ]:
'Kobe'[2]

In [ ]:
'Kobe'[3]

## More Indexing: 
## વધુ અનુક્રમણિકા:

<br>

You can also take out slices from your advanced data type or string by using the ```:```. 

તમે ```:``` નો ઉપયોગ કરીને તમારા એડવાનસ ડેટા પ્રકાર અથવા સ્ટ્રિંગમાંથી ભાગ પણ લઈ શકો છો.

<br>

Say you have a string ```'Milan'``` and you want the first three letters from the string. 

કહો કે તમારી પાસે સ્ટ્રિંગ ```'Milan'``` છે અને તમારે સ્ટ્રિંગમાંથી પહેલા ત્રણ અક્ષરો જોઈએ છે.

<br>

You can write ```'Milan'[0:3]``` to get the first three elements. 

પ્રથમ ત્રણ તત્વો મેળવવા માટે તમે ```'Milan'[0:3]``` લખી શકો છો.

<br>

Try it out: 

તેનો પ્રયાસ કરો:

In [ ]:
'Milan'[0:3]

In [ ]:
# Lonzo's nickname is zo

'Lonzo'[3:5]

# 3 is included
# 5 is excluded 

# 3 નો સમાવેશ થાય છે
# 5 બાકાત છે


# the first number is always included (inclusive)
# the second number is not included (exclusive)

# પ્રથમ નંબર હંમેશા શામેલ છે (શામેલ)
# બીજેા નંબર શામેલ નથી (બાકાત)

In [ ]:
# To get 'on' from 'Lonzo':

# 'Lonzo' થી 'on' મેળવવા માટે:

'Lonzo'[1:3]


# index for just o: 1
# index for just n: 2

# ફક્ત o માટે અનુક્રમણિકા: 1
# ફક્ત n માટે અનુક્રમણિકા: 2

In [ ]:
# To get 'Lon':

# 'Lon' મેળવવા માટે:

'Lonzo'[:3]


# Takeaway: no specification of starting location, defaults to the beginning

# પ્રારંભિક સ્થાન વિશે કોઈ સ્પષ્ટીકરણ નથી, શરૂઆતથી ડિફોલ્ટ છે

In [ ]:
# To get 'onzo'

# 'onzo' મેળવવા માટે:

'Lonzo'[1:]


# Takeaway: no specification of ending location, defaults to ending

# અંત સ્થાનનું કોઈ સ્પષ્ટીકરણ, અંતમાં ડિફોલ્ટ્સ

In [ ]:
'Lonzo'[:]

# This defaults to the start and the end, which is everything

# આ શરૂઆત અને અંત તરફ ડિફોલ્ટ છે, જે બધું છે

In [ ]:
'Lonzo'[-2]

In [ ]:
# Using -1 gives the last letter
# Using -2 gives the second to last letter
# .....

# -1 નો ઉપયોગ કરીને છેલ્લો અક્ષર મળે છે
# -2 નો ઉપયોગ કરીને બીજાને છેલ્લો અક્ષર મળે છે
# .....

In [ ]:
# To get specific letters that are NOT next to eachother:

# વિશિષ્ટ અક્ષર મેળવવા માટે કે જે દરેકની આગળ ન હોય:

'Lonzo'[0] + 'Lonzo'[3]

In [ ]:
d2 = [[1, 2, 3],
    [4, 5, 6], [7, 8, 9]]

In [ ]:
d2[0][2]

Let's understand what happened there: 

ચાલો સમજીએ કે ત્યાં શું થયું:

<br>

- The number before the ```:``` is the location where you want to start your slice. 
- The number after the ```:``` represents the location that is right after the point where you want to end your slice. 


- ```:``` પહેલાનો નંબર તે સ્થાન છે જ્યાં તમે તમારી સ્લાઈસ શરૂ કરવા માંગો છો.
- ```:``` પછીની સંખ્યા તે સ્થાનનું પ્રતિનિધિત્વ કરે છે જે તે બિંદુ પછી યોગ્ય છે જ્યાં તમે તમારી સ્લાઈસને સમાપ્ત કરવા માંગો છો

<br>

For example, in the string ```'Milan'```, the first three letters are located at indexes ```0```, ```1```, ```2```. 

ઉદાહરણ તરીકે, સિટૃગ્સ ```'Milan'``` માં, પ્રથમ ત્રણ અક્ષરો અનુક્રમણિકા ```0```,```1```, ```2``` પર સ્થિત છે.

<br>

However, we need to write ```[0:3]``` if we want to extract the first three letters. This means that the number after the ```:``` is not inclusive (we do not include the letter at that location in our slice). 

જો કે, જો આપણે પ્રથમ ત્રણ અક્ષરો કાઢવાા માંગતા હોય તો ```[0:3]``` લખવાની જરૂર છે. આનો અર્થ એ છે કે ```:``` પછીની સંખ્યા શામેલ નથી (અમે તે સ્થાન પરનો અક્ષર અમારી સ્લાઈસમાં શામેલ નથી).

In [ ]:
# This will get you the first four letters: 

# આ તમને પ્રથમ ચાર અક્ષરો મળશે:

'Milan'[0:4]

In [ ]:
# If you don't specify a starting location, it will default to the first letter:

# જો તમે પ્રારંભિક સ્થાનનો ઉલ્લેખ કરતા નથી, તો તે પહેલા અક્ષર પર ડિફોલ્ટ થશે:

'Milan'[:3]

In [ ]:
# If you don't specify an ending location, it will include everything after the starting point:

# જો તમે અંતિમ સ્થાન નિર્દિષ્ટ ન કરો, તો તેમાં પ્રારંભિક બિંદુ પછીની દરેક વસ્તુ શામેલ હશે:

'Milan'[2:]

In [ ]:
# If you don't specify an ending or starting location, the entire string is returned:

# જો તમે અંત અથવા પ્રારંભિક સ્થાનનો ઉલ્લેખ ન કરો તો, આખા સિટૃગ્સ પાછા આપશે:

'Milan'[:]

#### Important Rule:
#### મહત્વપૂર્ણ નિયમ:

<br>

The key thing to remember is that the **number before the ```:``` is inclusive** and the **number after the ```:``` is not inclusive.**

યાદ રાખવાની મુખ્ય વાત એ છે કે **```:``` પહેલા નંબર સમાવિષ્ટ** છે અને ** ```:``` પછીની સંખ્યા શામેલ નથી.**

### Slicing with Lists:
### લીસટ સાથે સ્લાઈસ કરવા:

<br>

You can slice similarly with arrays and lists:

તમે એરે અને લીસટ સાથે સમાન સ્લાઈસ કરી શકો છો:

In [ ]:
the_first_five_ints[0:2]

In [ ]:
the_first_five_ints[2:]

# Recap 
# સારાંશ

**Lists** <br>
**લીસટ**

<br>

- A collection of items, use brackets ```[]``` and separate the values with commas
- Add values by using **.append(value_name)** or ```+```, remove values using **.remove(value_name)**
<br>
<br>
- વસ્તુઓનો સંગ્રહ, ```[]``` નો ઉપયોગ કરો અને અલ્પવિરામથી મૂલ્યોને અલગ કરો
- **.append(value_name)** અથવા ```+``` નો ઉપયોગ કરીને કિંમતો ઉમેરો. **.remove(value_name)** નો ઉપયોગ કરીને મૂલ્યોને દૂર કરો

<br>

ex: 
num_list = [1, 2, 3, 4, 5] <br>
num_list.append(6) or num_list += [7, 8, 9] <br>
num_list.remove(1)
 
<br>
 
**Indexing** <br>
**અનુક્રમણિકા**

<br>

- This is used to extract individual elements. Indexing starts at 0.
- Place brackets ```[]``` after the variable that you want to access the individual elements from, then specify the location of those elements 
- The number before the ```:``` is inclusive and the number after the ```:``` is exclusive
<br>
<br>
- આનો ઉપયોગ વ્યક્તિગત તત્વોને બહાર કાઢવાા માટે થાય છે. અનુક્રમણિકા 0 થી પ્રારંભ થાય છે.
- વેરીએબલ પછી ```[]``` મૂકો જે તમે વ્યક્તિગત તત્વોમાંથી મેળવવા માંગો છો, પછી તે તત્વોનું સ્થાન નિર્દિષ્ટ કરો
- ```:``` પહેલાંની સંખ્યા સમાવિષ્ટ છે અને ```:``` પછીની સંખ્યા સમાવિષ્ટ નથી.

<br>

ex: 
"data science"[0] -----> d
"data science"[0:4] -----> data

# End
# સમાપ્ત

<br>

That's it for now with this basic data type notebook. 

હમણાં માટે અમે આ ડેટા ટાઇપ નોટબુક સાથે પૂર્ણ કર્યું છે.

<br>

Feel free to mess around with and solidify your understandings with code cells! 

પ્રેક્ટિસ કરો અને કોડ સેલ્સથી તમારી સમજણને મજબૂત બનાવો!

<br>

See you for the next notebook!

હવે પછીની નોટબુક માટે મળીશું!

### About this notebook: 
#### Developed by:
* [Milan Butani](https://www.linkedin.com/in/milanbutani/) 
* [Kyra Yee](https://www.linkedin.com/in/kyrayee/)
* [Colin Yee](https://www.linkedin.com/in/colin-yee-b724141ab/)
* [Bernice Lau](https://www.linkedin.com/in/bernicelau430/)
* [Francis Gonzales](https://www.linkedin.com/in/francis--gonzales/)

#### Edits and Translations by:
* [Neera Butani](https://www.linkedin.com/in/neera-butani-9019891b1/)

#### Connect with us:
<a href='https://www.linkedin.com/company/lanlearning/'> <img src=https://img.icons8.com/color/48/000000/linkedin.png width="48" height="48" align="left"/></a>

<a href='http://www.instagram.com/lanlearning'> <img src=https://img.icons8.com/fluent/48/000000/instagram-new.png width="48" height="48" align="left"/></a>

<a href='https://www.youtube.com/channel/UC5_yxU9pz4ka7xITJMxO5WA'> <img src=https://img.icons8.com/color/48/000000/youtube-squared.png width="48" height="48" align="left"/></a>

<a href='https://www.github.com/lanlearning/'> <img src=https://img.icons8.com/material-rounded/48/000000/github.png/ width="48" height="48" align="left"/></a>